.body {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.util-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.title {
    display: flex;
    flex-direction: row;
    align-items: center;
    box-sizing: border-box;
    font: 60px 'Roboto', sans-serif;
    padding-left: 0.5em;
    width: 100%;
}

.genre-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    padding-right: 2em;
}


.home-page {
    display: flex;
    flex-direction: column;
    width: 70%;
    min-height: 100vh;
    box-sizing: border-box;
}

.cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 20px;
    gap: 20px
}

.dark-bg {
    background-color: #efefef;
}